.cover {
  width: 100%;
  border-radius: 2px;
}

.subtitle {
  margin: 24px 0;
  font-size: 32px;
  font-weight: 400;
}

.subtitle strong {
  font-weight: 600;
}

.text-body p {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  font-family: open sans, sans-serif;
  text-align: justify;
  color: #585757;
}
