@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

*::selection {
  background: #42b883;
  color: #fff;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: 'Source Sans Pro', Verdana, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

img {
  -webkit-user-drag: none;
}

main {
  width: 95%;
  max-width: 1110px;
  min-height: calc(100vh - 98px - 488px);
  margin: 0 auto;
  padding: 24px 0 64px;
}

main h1 {
  margin: 28px 0 20px;
}

main h1 {
  font-size: 42px;
}

main h2 {
  font-size: 34px;
}

main h3 {
  font-size: 29px;
}

main h4 {
  font-size: 26px;
}

main h5 {
  font-size: 23px;
}

main h6 {
  font-size: 20px;
}

.anchor.before {
  padding-right: 8px;
}

.anchor.before path {
  fill: #585757;
}

main p,
main li {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  font-family: open sans, sans-serif;
  text-align: justify;
  color: #585757;
}

main p,
main ul,
main ol {
  margin-bottom: 16px;
}

a {
  color: #42b883;
  font-weight: 500;
}

a.active-link {
  color: #42b883;
  font-weight: 600;
}

:root {
  --deckgo-highlight-code-background: #f9f9f9;
  --deckgo-highlight-code-padding: 16px;
}
