@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

*::selection {
  background: #42b883;
  color: #fff;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: 'Source Sans Pro', Verdana, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}

img {
  -webkit-user-drag: none;
}

main {
  width: 95%;
  max-width: 1110px;
  min-height: calc(100vh - 98px - 488px);
  margin: 0 auto;
  padding: 24px 0 64px;
}

main h1 {
  margin: 28px 0 20px;
  font-size: 42px;
}

a {
  color: #42b883;
  font-weight: 500;
}
